@charset "utf-8";

:root {
    /* font-family */
    --mainEng-font: 'Roboto', sans-serif;
    --subEng-font: 'Pretendard-Regular', sans-serif;

    /* font-size */
    --small-font-size: clamp(13px, 1.2vw, 15px);
    --default-font-size: clamp(15px, 1.4vw, 18px); /* 디폴트 폰트 사이즈: 네비게이션, 설명 */
    --subtitle1x-font-size: clamp(18px, 1.5vw, 20px); /*메인페이지 콘텐츠 서브 타이틀 */
    --subtitle2x-font-size: clamp(20px, 1.8vw, 24px); /* 콘텐츠 타이틀 */
    --title1x-font-size: clamp(32px, 4vw, 50px); /* 메인페이지 콘텐츠 타이틀 */
    --title2x-font-size: clamp(40px, 5vw, 60px); /* 서브페이지 콘텐츠 타이틀 */

    /* gap */
    --wrap-gap: 150px 80px; /* 랩 패딩값 */
    --responsieve-wrap-gap: 150px 40px; /* 1024px 반응형 패딩값 */
    --eyebrow-gap: 20px; /* 아이브로우와 타이틀과의 간격 */
    --title-gap: 30px; /* 타이틀과 서브타이틀과의 간격 */
    --subtitle-gap: 100px; /* 서브타이틀과 콘텐츠과의 간격 */

    /* color */
    --bg1: #0e0e10;
    --bg2: #14161a;
    --bg3: #1a1c21;
    --bg4: #20232a;
    --bg5: #272a32;
    --bg6: #2c2f38;
    --bg7: #30343d;
    --bg8: #353945;
    --ink: #f5f5f5;
    --muted: #5f6368;
    --accent: #ffffff;

    --ink: #ffffff;
    --muted: #6b7280;
    --bg-start: #0e0e10;
    --bg-end: #353945;


};